<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Fuoriclasse utilise la caméra pour créer ton avatar personnalisé.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fuoriclasse accède à ta galerie pour ajouter des photos à ton dressing.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Fuoriclasse peut utiliser le micro lors de la création d'avatar.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BRIGHTON.TTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string></string>
	</array>
	<key>GIDClientID</key>
	<string>478569030141-6ub8r4ta4sloebt4kkhseg9pf6mtk73d.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>478569030141-i6kneej8op7hcma25q75vesdmtal3b9n.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.478569030141-6ub8r4ta4sloebt4kkhseg9pf6mtk73d</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
